* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

#main {

}

#header {
    height: 46px;
    background-color: rgb(201, 232, 44);
}

#nav {
    border-top: 1px solid #fff
}

#nav li {
    display: inline-block;
    float: right;
    
}

#nav li a {
    text-decoration: none;
    color: rgb(200, 31, 31);
    line-height: 46px;
    padding: 0 8px;
}
#nav .nav1 {
    float: left;
}
#content {
    float: left;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
#content .text-header {
    font-size: 60px;
    color: rgb(224, 63, 63);
    margin-bottom: 16px;
    font-weight: 600;
}
    img{
        width: 100%;
        height: auto;
    }
    .img {
        margin-left: 170px;
        width: 1190px;
        height: 350px;
    }

    
   